@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    font-family: 'Inter', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 10%);
    height: 600px;
    width: 374px;
    padding: 25px;
    border-radius: 10px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 15px; */
}

.profile-pic img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile .name {
    color: white;
    margin-top: 0;
    font-weight: bold;
    font-size: 25px;
}

.profile .location {
    color: hsl(75, 94%, 57%);
    font-size: 15px;
    margin-top: 4px;
}

.about {
    color: white;
    font-size: 12px;
    margin-top: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
    
}

.links a {
    color: white;  
    text-decoration: none;
    font-weight: 600;
    background-color: hsl(0, 0%, 16%);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    border-radius: 8px;
}

.links a:hover {
    background-color: hsl(75, 94%, 57%); /* Green hover color */
    color: hsl(0, 0%, 10%); /* Dark text on hover */
}

.attribution {
    color: white;
    padding: 20px;
    font-weight: 400;
    font-size: 11px;
    margin-top: auto;
    text-align: center;

}

.attribution a {
    color: white;
}

@media only screen and (max-width: 375px) {
    .card {
        width: 327px;
        max-width: calc(100vw - 48px);
        min-width: 327px;
        padding: 24px;
        box-sizing: border-box;
    }

    .main-content {
        padding: 0 24px;
    }
} 